<div class="container-fluid">
    <div class="row">
        <div style="height: 90vh; width: fit-content;" class="col-lg-2 bg-dark d-flex flex-column p-3">
            <a style="text-decoration: none; color: white;" class="mb-3 fw-bolder" routerLink="/dashboard">Home</a>
            <a style="text-decoration: none; color: white;" class="mb-3 fw-bolder" routerLink="/users">Users</a>

        </div>
        <div class="col-lg-10">
            <h1>New User Form</h1>
            <form #addUserForm="ngForm" class="border mt-3 p-5 rounded">
                <div class="form-floating mb-3">
                    <input #id="ngModel" name="id" [(ngModel)]="user.id" type="text" class="form-control" id="floatingInputID" placeholder="Employee ID" pattern="[a-zA-Z0-9]*" required>
                    <label for="floatingInputID">Employee ID</label>
                  </div>
                  <div *ngIf="id.invalid && id.touched" class="mb-3 text-danger fw-bolder">*Invalid user Id</div>
                  <div class="form-floating mb-3">
                    <input #name="ngModel"  name="name" [(ngModel)]="user.name" type="text" class="form-control" id="floatingInputName" placeholder="Employee Name" pattern="[a-zA-Z0-9 ]*" required>
                    <label for="floatingInputName">Employee Name</label>
                  </div> 
                  <div *ngIf="name.invalid&& name.touched" class="mb-3 text-danger fw-bolder">*Invalid username</div>

                  <div class="form-floating mb-3">
                    <input #email="ngModel" name="email" [(ngModel)]="user.email" type="text" class="form-control" id="floatingInputMail" placeholder="Employee Mail" email required>
                    <label for="floatingInputMail">Employee Mail</label>
                  </div> 
                  <div *ngIf="email.invalid && email.touched" class="mb-3 text-danger fw-bolder">*Invalid user email</div>

                  <div class="form-floating mb-3">
                    <select #status="ngModel" name="status" [(ngModel)]="user.status" class="form-control" id="floatingInputStatus" placeholder="Employee Mail"  required>
                        <option value="1">Active</option>
                        <option value="0">InActive</option>
        
                    </select>
                    <label for="floatingInputStatus">Employee Status</label>
                  </div> 
                  <div *ngIf="status.invalid && status.touched" class="mb-3 text-danger fw-bolder">*Invalid status</div>

                  
                  <div class="d-flex ">
                    <button (click)="adduser()"  [disabled]="addUserForm.invalid" class="btn btn-success">Save</button>
                    <button (click)="Cancel()" class="btn btn-warning ms-5">Cancel</button>
                  </div>
        </form>
        
        
    </div>

</div>